<!DOCTYPE html>

<html>
  <head >
    <link rel="stylesheet" href="./stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>

  <body class = "" ng-app="angularApp">
    <header>
      <center>
        <a href="/"><h1>Github User Search</h1></a>
      </center>
    </header>
    <div class = "container"  ng-controller="HttpPostController as app">
      <div class = "row">
        <input class = "form-control col-12" type = "text" ng-model="searchTerm" placeholder="search">
      </div>
      <div class = "row  searchOptions">
        <button class = "btn col-1 mr-1 offset-5"ng-click="SendData(1)">Search</button>
        <select class = "custom-select col-1" aria-labelledby="dropdownMenuButton" ng-Model="num_per_page" id = "numPerPageSelect">
          <option ng-repeat="x in vals" value = "{{x}}">{{x}}</option>
        </select>
      </div>
      <hr>
      <div class = "container" id = "info">
        <div class = "row">
          <div class = "col-5" id = "searchResults">
            <div  ng-repeat = "data in PostDataResponse.items">
                <div class = "row" id="details" ng-click="getUserData(data.login)">
                  <img class="col-5" id = "searchImage" ng-src = {{data.avatar_url}} alt="profile_image">
                  <div class= "userinfo col-7" style="padding:0px 0px; margin:15px;">
                    <h2>{{data.login}}</h2>
                    <a ng-href={{data.html_url}}>{{data.html_url}}</a>
                  </div>
                </div>
                <hr>
            </div>
          </div>
          <div ng-if="showDetails==true" class = "col-6" id = "userdetails">
            <div id = "userdetailcard">
              <center>
                <img ng-src ="{{userdetails.avatar_url}}" id="userdetailimage"></img>
                <h2><b>Name:</b></br>{{userdetails.name}}</h2>
                <p ng-if="userdetails.login!=''"><b>Login:</b></br>{{userdetails.login}}</p>
                <p ng-if="userdetails.bio!=''"><b>Description:</b></b></br>{{userdetails.bio}}</p>
                <p ng-if="userdetails.company!=''"><b>Company:</b></br>{{userdetails.company}}</p>
                <p ng-if="userdetails.blog!=''"><b>Blog:</b></br>{{userdetails.blog}}</p>
                <p ng-if="userdetails.public_repos!=''"><b>Repositories:</b></br>{{userdetails.public_repos}}</p>
              </center>
            </div>
          </div>
          <div ng-if="noSearchResults">
            <p>No Search Results Found</p>
          </div>
        </div>
      </div>
      <div class = "pagination">

          <div ng-if="showPagination">
              <button type = "button" class = "btn" ng-if="PostDataResponse.first!=null"ng-click="SendData(1)"><<</button>
              <button type = "button" class = "btn" ng-if="PostDataResponse.prev!=null" ng-click="SendData(PostDataResponse.prev.page)">{{PostDataResponse.prev.page}}</button>
              <button type = "button" class = "btn"><strong>{{currPage}}</strong></button>
              <button type = "button" class = "btn" ng-if="PostDataResponse.next!=null" ng-click="SendData(PostDataResponse.next.page)">{{PostDataResponse.next.page}}</button>
              <button type = "button" class = "btn" ng-if="PostDataResponse.last!=null" ng-click="SendData(PostDataResponse.last.page)">>></button>
          </div>
      </div>
    </div>
    <script type="text/javascript" src="./javascripts/search.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>
